body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.display {
    margin-bottom: 10px;
    padding: 20px; /* Increased padding */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 36px; /* Increased font size */
    width: 100%;
    box-sizing: border-box;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
}

button:hover {
    background-color: #d0d0d0;
}

.history {
    max-height: 100px;
    overflow-y: auto; /* Make it scrollable */
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px; /* Decreased font size */
}

.history h2 {
    margin-top: 0;
    font-size: 16px;
    color: #333;
}

#history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#history-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
}
